<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
       package="com.privatee.wjtbaseapp">

    <application
        android:name=".BaseAppaction"
        tools:replace="android:name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data

        android:name="xposedmodule"
        android:value="true"/>
        <meta-data
        android:name="xposeddescription"
        android:value="holle xposed"/>
        <meta-data
        android:name="xposedminversion"
            android:value="54"/>

        <!--android:value="82"/>-->
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.TwoActivity"></activity>
        <activity android:name="com.privatee.mylibrary.Widge.AppIntroActivity"
            android:theme="@style/notileTheme"
            />
        <activity android:name=".Activity.WebViewActivity"
            android:hardwareAccelerated="true"/>
        <activity android:name=".A_V.activity.IJKPlayerActivity"/>
        <activity android:name=".Activity.Retrofit_RxJavaActivity"/>
        <activity android:name=".ButterKnifeActivity"/>
        <activity android:name=".Activity.RecycleListTestActivity"/>
        <activity android:name=".Activity.SytemSetActivity"/>
        <activity android:name=".Activity.ProgressDialogActivity"/>
        <activity android:name=".Activity.FileDownLoadActivity"/>
        <activity android:name=".Activity.TCPTestActivity"/>
        <activity android:name=".Activity.ShareActivity"
            android:theme="@style/Theme.Swipe.Back"
            />
        <activity android:name=".A_V.activity.GreenDaoTestActivity"/>
        <activity android:name=".A_V.activity.AlarmClockActivity"/>
        <activity android:name=".A_V.activity.AlarmClockTestActivity"/>
        <service android:name=".CommonDialogService"/>
        <activity android:name="com.privatee.wjtbaseapp.A_V.activity.RxjavaActivity"/>

        <activity android:name=".Activity.GsonTestActivity"/>
        <activity android:name=".Activity.CustomViewTestActivity"/>
        <activity android:name=".Activity.EvenBusTestActivity"/>
        <activity android:name=".Activity.SQLTestActivity"/>
        <activity android:name=".fragmenttest.FragmentActivity"/>
        <activity android:name=".Activity.WjtTestActivity"/>
        <activity android:name=".Activity.CasuallyActivity"/>
        <activity android:name=".Activity.QRCodeActivity"/>
        <activity android:name=".Activity.IcReadActivity"/>
        <activity android:name="com.privatee.wjtbaseapp.A_V.activity.PuBuLActivity"/>
        <activity android:name="com.privatee.wjtbaseapp.Activity.AndroidCOMTestActivity"/>
        <activity android:name=".Activity.FaceDomeTestActivity"/>
        <activity android:name=".A_V.activity.SeekBarTestActivity"/>
        <activity android:name=".A_V.activity.AlgorithmTestActivity"/>
        <activity android:name=".A_V.activity.GwcTestActivity"/>
        <activity android:name=".A_V.activity.CustomDialogActivity"/>
        <activity android:name="com.privatee.wjtbaseapp.A_V.activity.ServiceBindTestActivity"/>
        <service android:name="com.privatee.wjtbaseapp.service.MyTestService"/>
        <activity android:name=".A_V.activity.ConstrainlayoutTestActivity"/>
        <activity android:name=".A_V.activity.AcacheTestActicity"/>
        <activity android:name=".A_V.activity.GDSubtitleActivity"/>
        <activity android:name=".A_V.activity.PermissionTestActivity"/>
        <activity android:name=".A_V.activity.XposedTestActivity"/>
        <activity android:name=".A_V.activity.AirpayTestActivity"/>
        <activity android:name=".A_V.activity.FragmentManageActivity"/>
        <activity android:name=".A_V.activity.TabLayoutTestActivity"/>
<!--        <activity android:name=".A_V.activity.RiliActivity"/>-->
        <activity android:name=".A_V.activity.BottomSheetActivity"/>
        <activity android:name=".A_V.activity.BottomSheetTestActivity"/>
        <activity android:name=".A_V.activity.GetIntentVideoImageTestActivity"/>
        <activity android:name=".A_V.activity.DialogActivity"
            android:theme="@style/dialog_style"
            ></activity>
        <activity android:name=".A_V.animation.AnimationActivcity"/>
    </application>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>


    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>